/*
 * beautiful-react-diagrams
 */

.bi.bi-diagram {
  background-color: #ffffff;
}

.bi.bi-diagram .bi-link-canvas-layer {
  z-index: 50;
}

.bi.bi-diagram .bi-link-canvas-layer .bi-diagram-link .bi-link-path {
  stroke: #00000020;
  stroke-width: 0.3rem;
  stroke-linecap: round;
  stroke-dasharray: 2;
}

.bi.bi-diagram .bi.bi-diagram-node {
  z-index: 0;
}
/*
 * 
 */

.U5d_error_box_text {
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: red;
}

/* visual_module */
.U5d_visual_module {
  background: #000000;
  border-radius: 10px;
  border-top: 1px solid #ffffff;
}

.U5d_visual_module .U5d_name {
  padding: 0px 10px 0px 10px;
  margin: 0px;
  color: #ffffff;
  text-align: center;
}

.U5d_visual_module .U5d_visual_ports {
  margin-top: 5px;
  padding: 5px 2px 5px 2px;
  z-index: 100;
}

.U5d_visual_module .U5d_visual_ports .U5d_name {
  margin: 5px 5px 0px 5px;
  padding: 0px;
  text-align: center;
  color: black;
  font-size: 16px;
  z-index: 100;
}

.U5d_bar_area .U5d_button {
  border: solid 1px #ffffff;
  height: auto;
  margin: 0px 2px 2px 2px;
}
