body {
  padding: 0px;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* 
 * Main window
 */
.main-window-bar {
  height: 15px;
  font-size: 12px;
  text-align: left;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #7e7e7e;
  color: #fff;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 10000;
}

.main-window-bar .barbtn {
  height: 15px;
  background-color: #c0c4c1;
  color: white;
  font-size: 12px;
  border: none;
  cursor: pointer;
  position: flex;
  float: left;
}

.main-window-bar .barinput {
  height: 15px;
  background-color: #3498db;
  color: white;
  font-size: 12px;
  border: none;
  position: flex;
  float: left;
  padding: 0px;
  margin-left: 1px;
}

.main-window-bar .dropbtn {
  height: 15px;
  background-color: #3498db;
  color: white;
  font-size: 12px;
  border: none;
  cursor: pointer;
  position: flex;
  float: right;
  margin-right: 0px;
}

.main-window-bar .dropdown-list {
  height: 100%;
  top: 15px;
  margin-right: 0px;
  display: block;
  color: black;
  cursor: pointer;
  z-index: 2000000;
  background-color: red;
  position: flex;
  float: right;
}

/* 
 * Editable window
 */
.editable-window {
  top: 15px;
  position: absolute;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  resize: both;
  overflow: hidden;
  min-width: 200px;
  min-height: 15px;
  display: none;
}

.editable-window .topbar {
  height: 15px;
  font-size: 12px;
  text-align: left;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  cursor: move;
  background-color: #2196f3;
  color: #fff;
  display: block;
  position: relative;
  width: 100%; /* Full width */
}

.editable-window .contentbody {
  height: calc(100% - 20px);
  margin-bottom: 5px;
  width: 100%;
  overflow: auto;
}

.editable-window .contentbody .bar {
  height: 15px;
  font-size: 12px;
  text-align: left;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  cursor: move;
  background-color: #d0d1d1;
  color: #fff;
  position: sticky;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 10000000;
}

.editable-window .contentbody .bar input[type="button"] {
  height: 15px;
  font-size: 11px;
  float: left;
  padding: 0px;
  margin-left: 1px;
}

.editable-window .contentbody .bar input[type="text"] {
  font-size: 11px;
  float: left;
  padding: 0px;
  margin: 0px;
  margin-left: 1px;
}

.editable-window .contentbody .bar input[type="checkbox"] {
  font-size: 11px;
  float: left;
  padding: 0px;
  margin: 0px;
  margin-left: 1px;
}

.editable-window .contentbody .bar div {
  font-size: 11px;
  float: left;
  padding: 0px;
  margin: 0px;
  margin-left: 1px;
  color: #000000;
}

/* 
 * Radar map
 */
.radar-map {
  background-color: #fff;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  position: relative;
}

.radar-map .point {
  position: absolute;
  border-width: 1px;
  border-color: rgb(175, 175, 175);
  border-style: solid;
  border-radius: 50%;
}

.radar-map .point .info {
  display: inline-block;
  color: #fff;
  text-shadow: 0 0 10px hsla(0, 0%, 0%, 1), 0 0 10px hsla(0, 0%, 0%, 1),
    0 0 10px hsla(0, 0%, 0%, 1), 0 0 5px hsla(0, 0%, 0%, 1),
    0 0 5px hsla(0, 0%, 0%, 1), 0 0 5px hsla(0, 0%, 0%, 1);
  white-space: nowrap;
  position: absolute;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

/* 
 * Radar edit form
 */
.radar-edit-form {
  position: relative;
  width: 100%;
}

.radar-edit-form .form-field {
  position: relative;
  border: 1px solid rgb(124, 124, 124);
  height: 20px;
  width: 100%;
}

.radar-edit-form .form-field .form-label {
  position: relative;
  width: 45%;
  float: left;
}

.radar-edit-form .form-field .form-edit {
  width: 50%;
  float: left;
}
/* 
 * Json syntax color
 */
pre {
  text-align: left;
  font-size: 10px;
}
pre .string {
  color: green;
}
pre .number {
  color: darkorange;
}
pre .boolean {
  color: blue;
}
pre .null {
  color: magenta;
}
pre .key {
  color: red;
}
