.graphical_ui {
  position: relative;
  width: auto;
  height: auto;
}

.graphical_ui .content {
  position: relative;
}

.graphical_ui .content .map {
  position: relative;
  background-image: linear-gradient(
    rgb(1, 196, 245),
    rgb(45, 185, 250),
    rgb(234, 249, 253)
  );
}

.graphical_ui .content .map .sprite {
  position: absolute;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.graphical_ui .content .map .sprite:hover {
  border: 1px solid red;
}
