.virtual_world {
  position: relative;
  height: calc(100% - 20px);
}

.virtual_world .content {
  position: relative;
  display: flex;
  float: left;
  width: calc(100% - 2px);
  height: calc(100% - 8px);
}
.virtual_world .content .column_left {
  position: relative;
  min-width: 100px;
  width: calc(50% - 2px);
  height: calc(100% - 2px);
  border: 1px solid #ffffff;
  overflow: auto;
}

.virtual_world .content .column_right {
  position: relative;
  min-width: 100px;
  width: calc(50% - 2px);
  height: calc(100% - 2px);
  border: 1px solid #ffffff;
  overflow: auto;
}

.virtual_world .received {
  border: 1px solid gray;
  background-color: gainsboro;
  color: black;
  width: calc(100% - 2px);
}

.virtual_world .received .info {
  font-size: 12px;
  border: 1px solid gainsboro;
  background-color: lavender;
  color: black;
  width: calc(100% - 2px);
}

.virtual_world .sended {
  border: 1px solid blue;
  background-color: dodgerblue;
  color: white;
  width: calc(100% - 2px);
}

.virtual_world .sended .info {
  font-size: 12px;
  border: 1px solid dodgerblue;
  background-color: rgb(57, 182, 224);
  color: white;
  width: calc(100% - 2px);
}
