.editor {
  height: calc(100% - 80px);
  background-color: red;
  position: relative;
}

.area {
  height: 100%;
}

.error {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-weight: bold;
}
