.E5m_editor {
  height: calc(100% - 50px);
  background-color: red;
  position: relative;
}

.E5m_area {
  height: 100%;
}

.E5m_error {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-weight: bold;
}
