.login-panel {
  max-width: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.login-panel p {
  color: #ffffff;
}

.main-buttons {
  background-color: #000000;
}

.login-panel .main-buttons .off {
  border-radius: 0;
  outline: 1px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
}

.login-panel .main-buttons .on {
  border-radius: 0;
  outline: 1px solid #ffffff;
  background-color: #ffffff;
  color: #000000;
}

.login-panel .buttons {
  width: 100%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
