.login-panel {
  max-width: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.login-panel p {
  color: #ffffff;
}

.login-panel .switch_button {
  border: 1px solid #ffffff;
}

.login-panel .buttons {
  width: 100%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
