.edit-form {
  position: relative;
  width: 100%;
  height: auto;
}

.edit-form .row {
  position: relative;
  border: 1px solid rgb(124, 124, 124);
  height: 40px;
  width: 500px;
}

.edit-form .row .name {
  position: relative;
  width: 150px;
  float: left;
}

.edit-form .row .input_value {
  position: relative;
  width: 180px;
  float: left;
  margin: 0px;
}

.edit-form .row .select_value {
  position: relative;
  width: 100px;
  float: left;
}

.edit-form .row .select_value_selected {
  position: relative;
  width: 100px;
  float: left;
  text-align: center;
}

.edit-form .row .process {
  position: relative;
  width: 100px;
  float: left;
}
