.editor_content_body {
  background-color: #ffffff;
  height: calc(100% - 35px);
  margin-bottom: 5px;
  width: 100%;
  overflow: auto;
  position: relative;
}

.source_editor {
  height: 100%;
  width: 100%;
  position: relative;
}

.am_source_editor .error_box {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.error_box label {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-style: 15px;
}

.error_box button {
  width: 100%;
}
