.E5m_source_editor {
  height: 100%;
  width: 100%;
  position: relative;
}

.E5m_am_source_editor .E5m_error_box {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.E5m_am_source_editor .E5m_error_box label {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-style: 15px;
}

.E5m_am_source_editor .E5m_error_box button {
  width: 100%;
}
