body {
  padding: 0px;
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
}

div {
  color: green;
  background-color: black;
}

pre {
  text-align: left;
}

button {
  height: 15px;
  background-color: transparent;
  color: white;
  font-size: 12px;
  border: none;
  cursor: pointer;
  position: flex;
  float: left;
  padding: 0px 10px 0px 10px;
}

button:hover {
  background-color: white;
  color: black;
}

button:active {
  background-color: red;
  color: white;
}

button:focus {
  outline: none;
}

input {
  height: 14px;
  background-color: rgb(224, 222, 222);
  color: black;
  font-size: 12px;
  border: none;
  position: flex;
  float: left;
  padding: 0px;
  margin-left: 1px;
  padding: 0px 10px 0px 10px;
}

select {
  height: 14px;
  background-color: rgb(224, 222, 222);
  color: black;
  font-size: 12px;
  border: none;
  position: flex;
  float: left;
  padding: 0px;
  margin-left: 1px;
  padding: 0px 10px 0px 10px;
}

label {
  height: 14px;
  color: green;
  background-color: black;
  font-size: 12px;
  border: none;
  position: flex;
  float: left;
  padding: 0px;
  margin-left: 1px;
  padding: 0px 10px 0px 10px;
}

/* 
 * Main window
 */
.main-window-bar {
  height: 14px;
  font-size: 12px;
  text-align: left;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  position: relative;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border: 1px solid red;
  z-index: 10000;
}

.main-window-bar .dropdown-buttons-list {
  height: auto;
  top: 15px;
  display: block;
  color: white;
  cursor: pointer;
  z-index: 2000000;
  background-color: black;
  float: left;
  position: absolute;
  border: 1px solid red;
}

.main-window-bar .button {
  clear: both;
  width: 100%;
}

/* 
 * Main window content
 */
.main-window-content {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
}

/* 
 * Windows
 */
.content_body {
  height: calc(100% - 20px);
  margin-bottom: 5px;
  width: 100%;
  overflow: auto;
}

.content_body .bar {
  height: 15px;
  font-size: 12px;
  text-align: left;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  cursor: move;
  background-color: black;
  border: 1px solid red;
  position: sticky;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1000000;
}
