.P3k_object {
  color: white;
}

.P3k_user {
  color: orange;
}

.P3k_am {
  color: violet;
}

.P3k_area {
  color: green;
}

.P3k_system {
  color: red;
}

.P3k_map-list-element {
  padding: 0px 0px 0px 10px;
}
