.main-window-bar .dropdown-buttons-list {
  position: absolute;
  display: block;
  height: auto;
  width: auto;
  top: 15px;
  color: white;
  cursor: pointer;
  z-index: 2000000;
  background-color: #1e1e1e;
  float: left;
  border: 1px solid #cccccc;
}

.main-window-bar .button {
  clear: both;
  min-width: calc(100% - 2px);
}
