.Y6z_no-data {
  font-size: large;
  color: white;
  text-align: center;
}

.Y6z_table-column-info p {
  margin: 0px;
  padding: 0px;
}

.Y6z_time {
  color: white;
}

.Y6z_area {
  color: green;
}

.Y6z_object {
  color: orange;
}

.Y6z_api {
  color: red;
}
